body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  color: #000000;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.shop-header {
  padding-top: 50px;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.menu a {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  padding: 0;
}

.nerds-logo {
  float: left;
  width: 161px;
  margin-right: 120px;
  height: 65px;
}

.nerds-logo img {
  width: 161px;
  height: 65px;
}

.nerds-logo:hover {
  opacity: 0.8;
}

.nerds-logo:active {
  opacity: 0.3;
}

.main-menu {
  float: left;
  width: 560px;
}

.main-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  margin-left: 81px;
}

.main-menu li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 26px;
  margin-right: 45px;
}

.main-menu li:nth-child(2) {
  margin-right: 48px;
}

.main-menu li:last-child {
  margin-right: 0;
}

.main-menu a:hover {
  color: #fb565a;
}

.main-menu a:active {
  color: #000000;
  opacity: 0.3;
}

.active-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fb565a;
  bottom: 0;
  left: 0;
}

.active-menu a:hover {
  color: #000000;
  cursor: default;
}

.active-menu a:active {
  opacity: 1;
}

.basket {
  position: relative;
  float: right;
  min-width: 139px;
}

.basket a {
  display: block;
  position: relative;
  padding-left: 41px;
  margin-left: 23px;
  margin-top: 26px;
}

.basket a::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: transparent url("../img/cart-icon.png") no-repeat center;
  top: 5px;
  left: -1px;
}

.basket a:hover {
  color: #fb565a;
}

.basket a:active {
  color: #000000;
  opacity: 0.3;
}

.active-basket::after {
  content: "";
  position: absolute;
  width: 112px;
  height: 2px;
  background: #fb565a;
  bottom: 0;
  left: 27px;
}

.active-basket:hover::after {
  display: none;
}

.slider {
  position: relative;
}

.slider input[type=radio] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 311%;
}

.slides {
  float: left;
  width: 1160px;
  min-height: 431px;
  margin-right: 40px;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: right;
}

.slide-1 {
  background-image: url("../img/slider-1.png");
}

.slide-2 {
  background-image: url("../img/slider-2.png");
}

.slide-3 {
  background-image: url("../img/slider-3.png");
}

.slide-description {
  float: left;
  width: 520px;
}

.slide-description b {
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  margin-top: 78px;
  margin-bottom: 26px;
}

.slide-description p {
  display: block;
  margin-bottom: 39px;
}

.btn {
  padding: 12px 39px 12px 39px;
  color: #ffffff;
  font-weight: 500;
  border: 1px solid #fb565a;
  border-radius: 3px;
  background-color: #fb565a;
}

.slider .btn {
  float: left;
  width: 133px;
  padding: 13px 52px 11px 53px;
}

.slider .btn:hover {
  background-color: #e74246;
  border: 1px solid #e74246;
}

.slider .btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border: 1px solid #d7373b;
  border-top: 1px solid #c13135;
  box-shadow: inset 0 4px 0 -1px #c13135;
}

.slider-controls {
  width: 104px;
  position: absolute;
  right: 528px;
  bottom: 94px;
  z-index: 10;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 0 7px;
  border: 4px solid white;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}

.slider-controls label:last-child {
  margin-right: 0;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ffffff;
  left: 3px;
  top: 3px;
  box-shadow: 0 0 0 2px #c1c1c1;
  display: none;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"]::after,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::after,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::after {
  display: block;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-1200px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-2400px);
}

.main-features {
  margin-bottom: 83px;
}

.feature {
  width: 300px;
}

.feature h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 5px;
}

.feature p {
  display: block;
  margin-bottom: 33px;
}

.feature .btn{
  display: block;
  float: left;
  width: 81px;
  padding: 12px 39px 10px 38px;

}

.feature-1 {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.feature-1 .btn:hover {
  background-color: #e74246;
  border: 1px solid #e74246;
}

.feature-1 .btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border: 1px solid #d7373b;
  border-top: 1px solid #c13135;
  box-shadow: inset 0 4px 0 -1px #c13135;
}

.feature-2 {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.feature-2 .btn {
  background-color: #00ca74;
  border: 1px solid #00ca74;
}

.feature-2 .btn:hover {
  background-color: #00bc6c;
  border: 1px solid #00bc6c;
}

.feature-2 .btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  border: 1px solid #00aa62;
  border-top: 1px solid #009958;
  box-shadow: inset 0 4px 0 -1px #009958;
}

.feature-3 {
  float: left;
  width: 300px;
}

.feature-3 .btn {
  background-color: #efc84a;
  border: 1px solid #efc84a;
}

.feature-3 .btn:hover {
  background-color: #eab534;
  border: 1px solid #eab534;
}

.feature-3 .btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  border: 1px solid #e5a722;
  border-top: 1px solid #ce961f;
  box-shadow: inset 0 4px 0 -1px #ce961f;
}

.main-about {
  position: relative;
  margin-bottom: 30px;
  border-top: 1px solid #ffffff;
}

.main-about::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 20px;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.main-about-left {
  float: left;
  width: 660px;
  padding-top: 73px;
}

.main-about-left b{
  margin-top: 100px;
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.main-about-left p {
  display: block;
  margin-top: 33px;
  margin-bottom: 39px;
}

.main-about-left span {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.main-about-left ul {
  padding: 23px 0;
  margin: 0;
}

.main-about-left li {
  position: relative;
  list-style: none;
  padding-left: 36px;
  margin-bottom: 24px;
}

.main-about-left li::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 12px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}


.main-about-right {
  float: right;
  width: 360px;
  margin-top: 39px;
}

.main-about-right b {
  display: block;
  padding-top: 29px;
  margin-bottom: 16px;
  margin-left: 3px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.main-about-right p {
  font-size: 16px;
  line-height: 18px;
  margin-right: 19px;
}

.main-about-right .percent {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 19px;
  display: block;
}

.main-about-right .sup {
  vertical-align: super;
  font-size: 25px;
  font-weight: bold;
}

.main-about-right p {
  float: left;
  width: 100px;
  display: block;
}

.portfolio {
  position: relative;
}

.portfolio::before,
.portfolio::after {
  content: "";
  position: absolute;
  left: 20px;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.portfolio::before {
  top: -3px;
}

.portfolio::after {
  bottom: -46px;
}

.portfolio a {
  position: relative;
  width: 260px;
  margin-top: 45px;
  margin-right: 36px;
  display: inline-block;
  vertical-align: middle;
}

.portfolio a:hover img {
  opacity: 1;
}

.portfolio a:active img{
  opacity: 0.1;
}

.portfolio a:last-child {
  margin-right: 0;
}

.portfolio a img {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.2;
}

.portfolio a::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 17px;
  left: -20px;
  background-color: #eeeeee;
}

.portfolio a.btn-academy::before {
  display: none;
}

.portfolio a.btn-pink::before {
  top: -1px;
}

.btn-academy img {
  margin-left: 31px;
  margin-top: 10px;
}

.btn-borodinski img {
  margin-left: 27px;
}

.btn-pink img {
  margin-left: 39px;
}

.btn-mishka img {
  margin-left: 45px;
  margin-top: 5px;
}

.main-footer {
  margin-top: 127px;
}

.map {
  position: relative;
  z-index: 10;
  min-width: 1200px;
  height: 416px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 74px;
  background: #ffffff url("../img/map-marker.jpg");
  background-repeat: no-repeat;
}

.address {
  position: absolute;
  z-index: 20;
  width: 220px;
  top: 54px;
  left: 50%;
  margin-left: -580px;
  background-color: #ffffff;
  padding-top: 18px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.address h4 {
  margin-top: 30px;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.address p {
  display: block;
  margin-bottom: 15px;
  margin-left: 2px;
  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.address span {
  margin-left: 2px;
  color: #666666;
}

.address .btn {
  display: block;
  float: left;
  margin-top: 34px;
  padding-left: 44px;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-right: 43px;
}

.address .btn:hover {
  background-color: #e74246;
  border: 1px solid #e74246;
}

.address .btn:active {
  color: #e48789;
  background-color: #d7373b;
  border: 1px solid #d7373b;
  border-top: 1px solid #c13135;
  box-shadow: inset 0 4px 0 -1px #c13135;
}

.social {
  float: left;
  width: 260px;
  min-height: 80px;
}

.friendship {
  float: right;
  width: 600px;
  margin-right: 160px;
}

.friendship b {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.friendship p {
  display: block;
  margin-top: 9px;
  margin-bottom: 75px;
  font-size: 16px;
  line-height: 22px;
}

.social {
  float: left;
  min-width: 300px;
  margin-top: -5px;
}

.social-btn {
  width: 76px;
  height: 76px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #e1e1e1;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn:first-child{
  margin-left: 0;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn-vk {
  background-image: url("../img/vk-icon.png");
}

.social-btn-vk:active {
  background-image: url("../img/vk-icon-opacity.png")
}

.social-btn-fb {
  background-image: url("../img/fb-icon.png");
}

.social-btn-fb:active {
  background-image: url("../img/fb-icon-opacity.png");
}

.social-btn-inst {
  background-image: url("../img/insta-icon.png");
}

.social-btn-inst:active {
  background-image: url("../img/insta-icon-opacity.png");
}

.social-btn:hover {
  background-color: #e74246;
  border: 1px solid #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  border: 1px solid #d7373b;
  border-top: 1px solid #c13135;
  box-shadow: inset 0 4px 0 -1px #c13135;
}

/*Далее только вторая страница catalog.html*/

.catalog-header {
  padding-top: 50px;
  margin-bottom: 58px;
  background-color: #eeeeee;
}

.catalog-header .nerds-logo {
  margin-bottom: 41px;
}

.leader {
  text-align: center;
}

.leader h1 {
  margin-bottom: 108px;
}

.action-form {
  float: left;
  width: 260px;
  margin-top: -3px;
  margin-right: 140px;
}

.action-form fieldset {
  border: none;
  padding: 0;
  margin-left: 0;
}

.action-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;
  margin-bottom: 54px;
}

.range-filter legend {
  margin-bottom: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  background: #eeeeee;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 58px;
  margin-left: 10px;
  padding: 8px 10px;
  line-height: 22px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #eeeeee;
}

.price-controls input:focus {
  outline: none;
}

.max-price {
  text-align: right;
}

.form-grid {
  margin-bottom: 27px;
}

.form-grid input[type="radio"] {
  display: none;
}

.form-grid legend {
  margin-left: 1px;
  margin-bottom: 14px;
}

.form-grid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-grid li {
  margin-bottom: 16px;
}

.form-grid label {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.form-grid label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  left: 2px;
  border: 3px solid #b8b8b8;
  border-radius: 50%;
  cursor: pointer;
}

input:checked ~ label::before {
  background-color: #b8b8b8;
  box-shadow: inset 0 0 0 5px #ffffff;
}

.form-grid label:hover {
  color: #000000;
}

.form-grid label:hover::before {
  border-color: #4d4d4d;
}

input:checked ~ label:hover::before {
  background-color: #4d4d4d;
}

.form-features {
  margin-bottom: 31px;
}

.form-features input[type="checkbox"] {
  display: none;
}

.form-features legend {
  margin-left: 1px;
  margin-bottom: 14px;
}

.form-features ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-features li {
  margin-bottom: 16px;
}

.form-features .nerds-checkbox {
  position: relative;
  padding-left: 37px;
  cursor: pointer;
}

.form-features input[type=checkbox] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 2px;
  width: 18px;
  height: 18px;
  border: 2px solid #b8b8b8;
  border-radius: 5px;
  z-index: 10;
}

.form-features input[type=checkbox]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 21px;
  height: 5px;
  border: 2px solid #ffffff;
  background-color: #b8b8b8;
  transform: rotate(-45deg);
  z-index: 20;
}

.form-features input[type=checkbox]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 12px;
  height: 5px;
  background-color: #b8b8b8;
  transform: rotate(45deg);
  z-index: 30;
}

.form-features .nerds-checkbox:hover {
  color: #000000;
}

.form-features .nerds-checkbox:hover input[type=checkbox] + .checkbox-indicator {
  border-color: #4d4d4d;
}

.form-features .nerds-checkbox:hover input[type=checkbox]:checked + .checkbox-indicator::before {
  background-color: #4d4d4d;
}

.form-features .nerds-checkbox:hover input[type=checkbox]:checked + .checkbox-indicator::after {
  background-color: #4d4d4d;
}

.action-form .btn {
  padding: 16px 87px 14px 88px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.action-form .btn:hover {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.action-form .btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
  padding-top: 14px;
}

.action-form .btn:focus {
  outline: none;
}

.main-filter {
  float: right;
  width: 760px;
  margin-bottom: 48px;
}

.main-filter span {
  float: left;
  min-width: 160px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.main-filter ul{
  float: right;
  min-width: 269px;
  padding: 0;
  margin: 0;
}

.main-filter li {
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
  margin-left: 22px;
  font-size: 0;
}

.main-filter li:last-child {
  margin-right: 41px;
}

.main-filter a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.main-filter a:hover {
  opacity: 0.6;
}

.main-filter a:active {
  opacity: 1;
}

.arrows {
  float: right;
  width: 47px;
}

.arrows a {
  display: inline-block;
  vertical-align: bottom;
  font-size: 0;
  width: 20px;
  height: 20px;
  margin-left: 9px;
}

.arrows a:first-child {
  margin-right: -4px;
}

.arrows a:last-child {
  margin-left: 0;
}

.down-arrow {
  background: url("../img/icon-down.png") no-repeat center;
}

.up-arrow {
  background: url("../img/icon-up.png") no-repeat center;
}

a.srt-active {
  opacity: 1;
}

.shop-cards {
  float: right;
  width: 760px;
}

article {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  width: 360px;
  font-size: 0;
  margin-right: 36px;
  margin-bottom: 36px;
  padding-top: 40px;
  z-index: 10;
}

article img {
  display: block;
}

article:nth-child(2n) {
  margin-right: 0;
}

article:nth-child(3),
article:nth-child(4) {
  margin-bottom: 39px;
}

article:nth-last-child(1),
article:nth-last-child(2) {
  margin-bottom: 61px;
}

article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 40px;
  background: url("../img/cards-header.png") no-repeat center;
  opacity: 0.12;
}

article:hover::before {
  opacity: 1;
}

article:hover .price-box {
  display: block;
}

.price-box {
  display: none;
  position: absolute;
  bottom: 13px;
  left: 0;
  width: 240px;
  padding: 27px 60px 49px 60px;
  text-align: center;
  background-color: #eeeeee;
}

.price-box a {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.price-box p {
  display: block;
  margin-top: 12px;
  margin-bottom: 47px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.price-box a.btn {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  padding: 15px 58px 14px 60px;
  font-weight: 500;
}

.price-box a.btn:hover {
  background-color: #e74246;
  border: 1px solid #e74246;
}

.price-box a.btn:active {
  color: #e48789;
  background-color: #d7373b;
  border: 1px solid #d7373b;
  border-top: 1px solid #c13135;
  box-shadow: inset 0 4px 0 -1px #c13135;
}

.pgns {
  min-width: 340px;
}

.pgns a.btn {
  display: inline-block;
  vertical-align: top;
  padding: 13px 18px 13px 18px;
  margin-right: 6px;
  background-color: #eeeeee;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border: 3px solid #eeeeee;
}

.pgns a.btn:last-child {
  padding: 13px 74px 13px 75px;
  margin-right: 0;
}

.pgns a.btn:hover {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pgns a.btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  border: 3px solid #d5d5d5;
  border-top: 3px solid #bfbfbf;
}

.pgns a.pgns-active {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
  cursor: default;
}

.pgns a.pgns-active:hover {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.pgns a.pgns-active:active {
  color: rgba(0, 0, 0, 1);
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.catalog-footer {
  margin-top: 60px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-form{
  display: none;
  position: absolute;
  z-index: 30;
  width: 760px;
  min-height: 456px;
  left: 50%;
  bottom: -36px;
  padding: 67px 100px;
  margin-left: -500px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 20px 70px -9px #000101;
}

@keyframes processing {
  from {opacity: 0.1}
  20% {opacity: 0.2}
  30% {opacity: 0.3}
  40% {opacity: 0.4}
  50% {opacity: 0.5}
  60% {opacity: 0.6}
  70% {opacity: 0.7}
  80% {opacity: 0.8}
  90% {opacity: 0.9}
  to {opacity: 1}
}

.hidden-form-show {
  display: block;
  animation: processing 0.3s;
}

.hidden-form-close {
  position: absolute;
  float: right;
  top: 77px;
  right: 89px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.hidden-form-close:hover {
  opacity: 1;
}

.hidden-form-close:active {
  opacity: 0.1;
}

.hidden-form-close:focus {
  outline: none;
}

.hidden-form-close::before,
.hidden-form-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  width: 26px;
  height: 6px;
  background-color: #fb565a;
  border-radius: 1px;
}

.hidden-form-close::before {
  transform: rotate(45deg);
}

.hidden-form-close::after {
  transform: rotate(-45deg);
}

.hidden-form b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  display: block;
  margin-left: -1px;
  margin-bottom: 41px;
}

.hidden-form label {
  display: inline-block;
  vertical-align: top;
  margin-right: 317px;
  margin-bottom: 9px;
  font-style: 16px;
  line-height: 18px;
  font-weight: bold;
}

.hidden-form label:nth-child(2) {
  margin-right: 100px;
}

.hidden-form label:nth-child(5) {
  margin-bottom: 9px;
}

.hidden-form input[type="text"] {
  display: inline-block;
  vertical-align: top;
  width: 331px;
  margin-right: 34px;
  margin-bottom: 34px;
  padding: 14px 13px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.hidden-form input.your-mail {
  margin-right: 0;
}

.hidden-form input[type="text"]:hover {
  border-color: #b4b9bb;
}

.hidden-form input[type="text"]:focus {
  outline: none;
  border-color: #000000;
}

.hidden-form textarea {
  display: block;
  padding: 11px 13px;
  width: 730px;
  min-height: 92px;
  margin-bottom: 47px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  resize: none;
}

.hidden-form textarea:hover {
  border-color: #b4b9bb;
}

.hidden-form textarea:focus {
  outline: none;
  border-color: #000000;
}

.hidden-form .btn {
  padding: 16px 84px 14px 82px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.hidden-form .btn:hover {
  background-color: #e74246;
}

.hidden-form .btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  border: 1px solid #d7373b;
  border-top: 1px solid #c13135;
  box-shadow: inset 0 4px 0 -1px #c13135;
}

.hidden-form .btn:focus{
  outline: none;
}

/** {outline: 1px solid green;}*/
